<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div class="prospector">
     <div>
      <h2>Prospector</h2>
      <input type="text" placeholder="Search for a table or segment"/>
      <h3>Segments</h3>
      <ul>
        <li *ngFor="let seg of segmentsList">{{seg.icon}} {{seg.name}}</li>
      </ul>
    </div>
      <button mat-flat-button color="primary" (click)="onAddSegment()">Add Segment</button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-segments-list></app-segments-list>    
  </mat-drawer-content>
</mat-drawer-container>

